@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h2>Animal Details</h2>


<hr />
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>
<h5>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h5>
<h5>@Html.DisplayNameFor(model => model.Sex): @Html.DisplayFor(model => model.Sex)</h5>
<h5>@Html.DisplayNameFor(model => model.Breed): @Html.DisplayFor(model => model.Breed)</h5>
<h5>@Html.DisplayNameFor(model => model.EntryDate): @Html.DisplayFor(model => model.EntryDate)</h5>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Animal", "Edit", new { id = Model.AnimalId })</p>
<p>@Html.ActionLink("Delete Animal", "Delete", new { id = Model.AnimalId })</p>